@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Lato:wght@300;400;900&display=swap');
/*font-family: 'Cardo', serif;
font-family: 'Lato', sans-serif;*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #e9e7e7;
}

h1 {
	font-family: 'Cardo', sans-serif;
	font-size: 82px;
	font-weight: 700;
	color: #232323;
}

h3 {
	font-family: 'Cardo', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #232323;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #232323;
}

.wrapper {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 8px;
}

.conteiner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}

/*--------------------{header}--------------------*/

/* При переключении меняем значение на другое li */
.active a {
	font-weight: 900!important;
	opacity: 1!important;
	color: #232323!important;
}

.menu {
	padding: 94px 0;
}

.menu ul li {
	display: inline-block;
	list-style: none;
}

.menu ul>li+li {
	margin-left: 72px;
}

.menu ul li a {
	font-family: 'Lato';
	font-weight: 300;
	font-size: 20px;
	color: #232323;
	text-decoration: none;
	transition: 0.4s;
}

.menu ul li:last-child {
	float: right;
}

.menu-btn {
	font-weight: 900!important;
	border: 3px solid #232323;
	border-radius: 4px;
	padding: 16px 54px;
	transition: 0.4s;
}

.create button:hover, /*create*/
.menu-btn:hover {
	border-color: #fb8f8fc7;
	transition: 0.6s;
}

.menu ul li a:hover {
	color: #757575;
	opacity: 0.7;
	transition: 0.6s;
}

/*--------------------{intro}--------------------*/

.intro {
	display: flex;
	justify-content: space-between;
	margin-bottom: 158px;
}

.intro-text {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.intro-text h1 {
	max-width: 430px;
	line-height: 1;
}

.intro-text p {
	max-width: 440px;
	text-align: justify;
}

.intro-text button {
	background-color: #232323;
	color: #e9e7e7;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 900;
	padding: 18px 60px;
	transition: 0.6s;
}

.intro-text button:hover {
	background-color: #fb8f8fc7;
	transition: 0.8s;
}

.intro-poz {
	position: relative;
	z-index: 0;
}

.places-left, /*places*/
.places-row, /*places*/
.places-bg, /*places*/
.cart-bg, /*cart*/
.create-bg, /*create*/
.slide-bg,/*slide*/
.intro-bg {
	position: relative;
}

.intro-bg:before {
	content: "";
	background: url(../images/bg/bg-heeadleft.png);
	position: absolute;
	width: 608px;
	height: 848px;
	margin-top: 74px;
    z-index: 1;
}

.intro-bg:after {
	content: "";
	background: url(../images/bg/bg-heeadriht.png);
	position: absolute;
	width: 120px;
	height: 462px;
	right: 0;
    top: 0;
    margin-top: 176px;
    z-index: 1;
}

/*--------------------{create}--------------------*/

.create-color {
	background-color: #232323;
	position: relative;
    z-index: 0;
}

.create {
	width: 100%;
	max-width: 456px;
	margin: 0 auto;
	text-align: center;
	padding: 52px 0;
}

.create h2 {
	font-family: 'Cardo', sans-serif;
	font-weight: 700;
	font-size: 54px;
	color: #e9e7e7;
	line-height: 1;
}

.create p {
	color: #e9e7e7;
	margin-top: 16px;
    margin-bottom: 36px;
}

.create button {
	background-color: #232323;
	border: 3px solid #e9e7e7;
	border-radius: 4px;
	color: #e9e7e7;
	font-size: 20px;
	font-weight: 900;
	padding: 16px 58px;
	cursor: pointer;
	transition: 0.8s;
}

.create-bg:before {
	content: "";
	background: url(../images/bg/bg-createleft.png);
	position: absolute;
	width: 433px;
	height: 170px;
	margin-top: 50px;
}

.create-bg:after {
	content: "";
	background: url(../images/bg/bg-createriht.png);
	position: absolute;
	width: 475px;
	height: 88px;
	right: 0;
    bottom: 60px;
}

/*--------------------{cart}--------------------*/

.cart {
	display: flex;
	justify-content: space-between;
	padding: 165px 0;
}

.cart-box {
	max-width: 360px;
}

.cart-text h3 {
	max-width: 230px;
	line-height: 1;
	margin-bottom: 34px; 
}

.cart-box hr {
	max-width: 52px;
	margin-top: 38px;
	margin-bottom: 28px;
	border-top: 3px solid #232323;
}

.cart-bg:before {
	content: "";
	background: url(../images/bg/bg-cartleft.png);
	position: absolute;
	width: 47px;
	height: 798px;
}

.cart-bg:after {
	content: "";
	background: url(../images/bg/bg-cartriht.png);
	position: absolute;
	width: 73px;
	height: 462px;
	right: 0;
    bottom: 0;
}

/*--------------------{places}--------------------*/

.places-top {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-top: 462px;
	margin-bottom: 270px;
}

.places-top h2 {
	font-family: 'Cardo', serif;
	font-weight: 700;
	font-size: 98px;
	color: #232323;
	line-height: 1;
	margin-bottom: 64px;
}

.places-top h2:after {
	content: "";
	background: url(../images/icon/aero-icon.png);
	position: absolute;
	width: 73px;
	height: 74px;
	top: -50%;
	left: 50%;
}

.places-bg:after {
	content: "";
	background: url(../images/bg/bg-placesriht.png);
	position: absolute;
	width: 266px;
	height: 888px;
	right: 0;
    top: -112%;
}

.palaces-subtext:before {
	content: "";
	background: url(../images/bg/bg-placesleft.png);
	position: absolute;
	width: 424px;
	height: 108px;
	bottom: -40%;
    left: 10%;
}

.places-top h2 span  {
	font-family: 'Cardo', serif;
	font-weight: 700;
	font-style: italic;
	text-decoration: underline; 
}

.palaces-subtext {
	font-weight: 900;
	font-size: 26px;
	color: #232323;
}

.places-bottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}

.places-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.places-box {
	display: flex;
}

.places-boX ul li {
	list-style: none;
}

.places-boX ul li a {
	font-family: 'Cardo', serif;
	font-weight: 700;
	font-size: 36px;
	color: #232323;
}

.places-boX>p+p {
	margin-top: 30px;
}

.places-boX p {
	max-width: 320px;
	text-align: justify;
}

.places-box>.places-boX+.places-boX {
	margin-left: 40px;
}

.places-row:after {
	content: "";
	background: url(../images/icon/row-icon.png);
	position: absolute;
	width: 141px;
	height: 55px;
	bottom: 0;
	left: 450px;
}

.places-left:before {
	content: "";
	background: url(../images/icon/tipety-icon.png);
	position: absolute;
	width: 71px;
	height: 254px;
	top: 35%;
    left: -6%;
}
/*--------------------{slidemind}--------------------*/

.slide{
	display: flex;
    justify-content: flex-end;
    padding: 100px;
	margin-bottom: 875px;
	
}
.slide-color{
	background-color: #232323;
	position: relative;
    z-index: 0;
}
.slide-text {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.slide-text h2 {
    font-family: 'Cardo', serif;
    color: white;
    font-size: 46px;
    margin-bottom: 100px;
}
.slide-text h3{
	color: white;
    font-size: 26px;
    margin-bottom: 22px;

}



.slide-text p{
    color: white;
    max-width: 450px;
    font-size: 15px;
    margin-bottom: 59px;
}
.slide-img{
	width: 700px;
    margin-left: 112px;
    display: flex;
}
.slide-bg:before{
	content: "";
	background: url(../images/bg/bg-hereleft.png);
	position: absolute;
	width: 513px;
	height: 181px;
	top: 81%;
    left: -6%;
}
.slide-bg:after{
	
}

